$primary-dithered-sky: #B8E4FF;
$primary-sorcerer: #3698D4;
$primary-nice-blue: #1478B5;
$black: #000000;
$warning-samoan-sun: #FABA46;
$warning-opulent: #D58629;
$danger-akuma : #D43536;
$danger-bloodthirsty-vampire : #9F0708
