@use "../styles/colors" as color;

input{
  all: unset;
  font-family: "Jua", sans-serif;
  font-size: 1.5rem;
  border-bottom: 2px solid color.$black;
  height: 40px;
  width: 300px;

  &::placeholder {
    color: color.$black;
  }
}

